<!DOCTYPE html>
<html>
<head>
  <title>GPT Storyteller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="{{ url_for('static', filename='storyteller.js') }}"></script>
</head>
<body>
  <h3>GPT Storyteller</h3>
  <div class="container">
    <div class="chatbot-ui">
        {% for message in messages %}
        <div class="message-row">
            <div class="message-wrapper">
              <div class="user-icon">
                {{ message.sender }}: 
              </div>
              <div class="message-text">{{ message.text }}</div>
              <span class="timestamp">{{ message.timestamp }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="" method="post" class="chatbot-form">
        <div class="row">
          <textarea type="text" name="user_story" placeholder="Type your part of the story here. It can be a sentence to get the story started." required></textarea>
          <div class="row">
            <div style="float:left;">
               <button type="respin" onclick="Storyteller.removeCookie();">Re-spin</button>
            </div>
            <div style="float:right;">
               <input id="submitBtn" type="submit" value="Submit" onclick="showLoading(15);">
            </div>
          </div>
        </div>
    </form>
  </div>
  <div id="overlay">
    <div class="loader"></div>
  </div>
  <script>
    function showLoading(seconds) {
      if (!document.getElementsByName("user_story")[0].value) {
        return;
      }
      document.getElementById("overlay").style.display = "block";
      setTimeout(
        function() {
          document.getElementById("overlay").style.display = "none";
        }, seconds * 1000);
    }
    function hideLoading() {
      document.getElementById("overlay").style.display = "none";
    }
  </script>
</body>
</html>