<!DOCTYPE html>
<html>
<head>
  <title>GPT Storyteller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <h3>GPT Storyteller</h3>
  <div class="container">
    <div class="chatbot-ui">
        {% for message in messages %}
        <div class="message-row">
            <div class="message-wrapper">
              <div class="user-icon">
                {{ message.sender }}: 
              </div>
              <div class="message-text">{{ message.text }}</div>
              <span class="timestamp">{{ message.timestamp }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="" method="post" class="chatbot-form">
        <div class="row">
          <textarea type="text" name="user_story" placeholder="Type your part of the story here. It can be a sentence to get the story started." required></textarea>
          <div style="float:right;">
             <input type="submit" value="Submit">
          </div>
        </div>
    </form>
  </div>
  <script>
    window.Storyteller = {
      uuid: null,
      ready: false,
      init: function() {
          if (this.ready) {
            return;
          }
          this.uuid = this.getUUIDFromCookie();
          if (!this.uuid) {
              this.uuid = this.generateUUID();
              this.setCookie(this.uuid);
              console.log("set cookie with uuid: ", this.uuid);
          }
          if (!window.location.href.includes(this.uuid)) {
            window.location.replace(window.location.origin + "/messages/" + this.uuid);
          }
          this.ready = true;
      },
      generateUUID: function() {
          var d = new Date().getTime();
          if (typeof performance !== 'undefined' && typeof performance.now === 'function') {
              d += performance.now(); //use high-precision timer if available
          }
          return 'xxxxxxxx-xxxx-xxxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
              var r = (d + Math.random() * 16) % 16 | 0;
              d = Math.floor(d / 16);
              return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
          });
      },
      setCookie: function(uuid) {
          document.cookie = "storyteller_id=" + uuid + "; SameSite=None; Secure";
      },
      getUUIDFromCookie: function() {
          const cookieValue = document.cookie.split("; ").find((row) => row.startsWith("storyteller_id="))?.split("=")[1];
          return cookieValue;
      },
    }
    if ("Storyteller" in window) {
      Storyteller.init();
    }
  </script>
</body>
</html>