<!DOCTYPE html>
<html>
<head>
  <title>GPT Storyteller</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="{{ url_for('static', filename='storyteller.js') }}"></script>
</head>
<body>
  <h3>GPT Storyteller</h3>
  <div class="container">
    <div class="chatbot-ui">
        {% for message in messages %}
        <div class="message-row">
            <div class="message-wrapper">
              <div class="user-icon">
                {{ message.sender }}: 
              </div>
              <div class="message-text">{{ message.text | safe }}</div>
              <span class="timestamp">{{ message.timestamp }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="jumbotron">
        {% block body %}{% endblock %}
    </div>
    <div style="margin-top:30px;">
      <button type="respin" onclick="Storyteller.removeCookie();">Re-spin</button>
    </div>
    
  </div>
  <div id="overlay">
    <div class="loader"></div>
  </div>
  <script>
    function showLoading(seconds) {
      if (!document.getElementsByName("user_story")[0].value) {
        return;
      }
      document.getElementById("overlay").style.display = "block";
      setTimeout(
        function() {
          document.getElementById("overlay").style.display = "none";
        }, seconds * 1000);
    }
    function hideLoading() {
      document.getElementById("overlay").style.display = "none";
    }
  </script>
</body>
</html>